
<div id="workingContainer" class="container-fluid overflow-auto" data-theme="dark">
    <a href="/contacts">Go Back</a>
    <!-- header -->
    <div id="profileHeader" class="container-fluid" role="group">
        <div id="profileCard" class="container">
            <img src="/images/user.svg" width="50" height="50">
            <button>Profile Card</button>
        </div>
        <div id="contactPicture">
            <img src="/images/user.svg" width="50" height="50">
            <button>Picture</button>
        </div>
    </div>
    <!-- contact form -->
    <div id="contactForm">
        <form>

        </form>
    </div>
</div>
