{% capture Body %}

<div hx-sse:connect="/stream">
    Waiting for messages...
</div>

<div id="workingContainer" class="container-fluid overflow-auto" data-theme="dark">
    <table>
        <tbody>
            {% for contact in Contacts %}
                <tr id="{{ contact.Id }}" 
                    class="container" 
                    hx-get="/contact/{{ contact.Id }}"
                    hx-on="click"
                    hx-target="#workingContainer"
                    hx-swap="innerHTML">

                    <th>
                        <img src="/images/user.svg" width="50" height="50">
                    </th>
                    <th>
                        <div id="contactDescription" class="contact-description">
                            {{ contact.Name | append: " - " | append: contact.Email }}
                        </div>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endcapture %}

{% render 'layout', Body: Body %}