{% capture Body %}

<div id="contactList" class="container-fluid overflow-auto" data-theme="dark">
    <table>
        <tbody>
            {% for contact in Contacts %}
                <tr id="{{ contact.Id }}" class="container">
                    <th><img src="/images/user.svg" width="50" height="50"></th>
                    <th>
                        <div id="contactDescription" class="contact-description">
                            {{ contact.Name | append: " - " | append: contact.Email }}
                        </div>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endcapture %}
{% render 'layout'
  , Body: Body %}