<div id="workingContainer" class="container-fluid overflow-auto" data-theme="dark">
    <h1>Error</h1>
    {% if ShowHomeLink %} <h3><a href="/contacts">go home</a></h3>{% endif %}

    {% if Endpoint %} <h2>Endpoint: {{ Endpoint }}</h2> {% endif %}

    Exception Was thrown:
    <textarea>
        {{ Message }}
    </textarea>
</div>
