<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v3.0.1/modern-normalize.min.css" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta3"
      integrity="sha384-bq4nTap5u8w4XlVP8JHkDioQVZBI5wUx5PxNwlbCq27H5QJ+q0CSeJcTYU+PLdCp"
      crossorigin="anonymous"></script>
  </head>
  <body>
    {{ Body }}
  </body>
</html>